:root {
    --content-width: 35em;
    --grid-gap: 1em;
    --menu-width: 10em;
    --menu-gap: 0em;
}

@media only screen {
    @font-face {
        font-family: "zillaslab";
        src: url("/fonts/ZillaSlab.woff2");
        font-style: normal;
        font-weight: 400;
    }

    @font-face {
        font-family: "zillaslab";
        src: url("/fonts/ZillaSlab-Bold.woff2");
        font-style: normal;
        font-weight: 700;
    }

    html,
    body {
        font-family: "zillaslab";
    }

    .wrapper {
        grid-gap: var(--grid-gap);
        display: grid;
        margin: 0;
        margin: 0;
    }

    .main-head {
        grid-area: header;
    }

    main {
        margin: 1em;
        grid-area: content;
        max-width: var(--content-width);
        justify-self: center;
    }

    .main-nav {
        grid-area: nav;
    }

    .main-nav menu {
        display: grid;
        grid-gap: var(--menu-gap);
    }

    .license {
        grid-area: footer;
        justify-self: center;
        align-self: end;
    }

    a {
        text-decoration: underline;
    }

    @media (aspect-ratio < 1/1), (width < 44em), (max-width: 44em) {
        .wrapper {
            grid-template-columns: 1fr;
            grid-template-rows: auto auto auto auto;
            grid-template-areas:
                    "nav"
                    "header"
                    "content"
                    "footer";
        }

        .main-nav {
            border-bottom: 1px solid;
            justify-self: center;
            width: 100%;
            top: 0;
            position: sticky;
            background-color: #fff;

        }

        .main-nav menu {
            text-align: center;
            grid-template-columns: repeat(2, 1fr);
        }
    }

    @media (aspect-ratio >= 1/1), (width >= 44em), (min-width: 44em) {
        .wrapper {
            grid-template-columns: 1fr auto 1fr;
            grid-template-areas:
                    "nav content .."
                    "nav footer .."
        }

        .main-nav {
            justify-self: right;
            align-self: start;
            position: sticky;
            top: 0;
        }

        .main-nav menu {
            text-align: right;
            grid-template-rows: repeat(2, 1fr);
        }
    }
}

@media screen, print {
    .license {
        font-weight: lighter;
    }

    a {
        color: inherit;
    }

    .main-nav menu {
        list-style-type: none;
        font-size: large;
        padding: 0;
    }

    .about #about a, .blog #blog a {
        font-weight: bolder;
    }

    article.blogpost h2 {
        margin-top: 3em;
    }

    article.blogpost h3, h4, h5, h6 {
        margin-top: 2em;
    }

    article.blogpost img {
        margin-top: 1em;
    }

    article.blogpost table {
        margin-top: 1em;
    }

    article.blogpost p {
        margin-top: 30px;
    }

    article.blogpost ul, ol, dl {
        margin: 0;
        padding-left: 1em;
    }
}

@media only print {
    .wrapper > *:not(main) {
        display: none;
    }

    .license {
        display: initial;
    }

    article h1, h2, h3, h4, h5, h6 {
        page-break-after: avoid;
    }

    article img,
    article table {
        page-break-inside: avoid;
    }
}

@media only speech {
}
