html,
body {
    font-family: "zillaslab";
    height: 100%;
}

.wrapper {
    grid-gap: 10px;
    display: grid;
}

@font-face {
    font-family: "zillaslab";
    src: url("/fonts/ZillaSlab.woff2");
    font-style: normal;
    font-weight: 400;
}

@font-face {
    font-family: "zillaslab";
    src: url("/fonts/ZillaSlab-Bold.woff2");
    font-style: normal;
    font-weight: 700;
}

.wrapper a {
    color: inherit;
}

.main-head {
    grid-area: header;
}

.content {
    grid-area: content;
    max-width: 600px;
    justify-self: center;
}

.main-nav {
    grid-area: nav;
}

.license {
    grid-area: footer;
    font-weight: lighter;
    justify-self: center;
    align-self: end;
}

.main-nav .menu {
    display: flex;
    list-style-type: none;
    font-size: 20px;
}

.main-nav .menu li {
    padding-right: 10px;
}

.main-nav a {
    text-decoration: none;
}

.blog .main-nav a.about,
.about .main-nav a.blog {
    font-weight: bold;
}

.content a {
    text-decoration: underline;
}

.content h1 {
    margin-top: 0px;
}

.content h2, h3, h4, h5, h6 {
    margin-top: 50px;
}

.content img {
    outline: solid 1px;
}

.content table {
    border-bottom: 1px solid;
    border-top: 1px solid;
}

@media (max-width: 900px) {
    .wrapper {
        grid-template-rows: 5px auto;
        grid-template-areas:
            "header"
                "nav"
                "content"
                "footer";
    }

    .main-nav {
        justify-self: center;
        border-bottom: 1px solid;
    }

    .main-nav .menu {
        flex-direction: row;
        padding: 0;
    }

}

@media (min-width: 900px) {
    .wrapper {
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-areas:
            "header header header"
            "nav content .."
            "nav footer .."
    }

    .main-nav {
        align-self: start;
        justify-self: right;
        border-right: 1px solid;

    }

    .main-nav .menu {
        flex-direction: column;
    }
}
