:root {
    --content-width: 40em;
    --grid-gap: 0em;
    --menu-width: 10em;
    --menu-gap: 0em;
}

@media only screen {
    @font-face {
        font-family: "zillaslab";
        src: url("/fonts/ZillaSlab.woff2");
        font-style: normal;
        font-weight: 400;
    }

    @font-face {
        font-family: "zillaslab";
        src: url("/fonts/ZillaSlab-Bold.woff2");
        font-style: normal;
        font-weight: 700;
    }

    html,
    body {
        font-family: "zillaslab";
    }

    .wrapper {
        grid-gap: var(--grid-gap);
        display: grid;
        margin: 1em;
        margin-top: 0em;
    }

    .main-head {
        grid-area: header;
    }

    .table-of-contents {
        grid-area: toc;
    }

    .table-of-contents a {
        background-color: unset;
    }

    .tags {
        font-size: smaller;

    }

    .tags ul {
        list-style: none;
        display: flex;
        padding: 0;
    }

    .tags li {
        padding-right: 0.5em;
    }

    main {
        margin: 15px;
        grid-area: content;
        max-width: var(--content-width);
        justify-self: center;
    }

    .main-nav {
        grid-area: nav;
        font-weight: bold;
    }

    .main-nav menu {
        display: grid;
        grid-gap: var(--menu-gap);
    }

    .license {
        grid-area: footer;
        justify-self: center;
        align-self: end;
    }

    a {
        text-decoration: none;
        background-color: rgba(220,220,220,.5);
        color: #00b0bd;
    }

    .main-nav a {
        background-color: unset;
        color: unset;
    }

    @media (aspect-ratio < 1/1), (max-aspect-ratio: 1/1) {
        .wrapper {
            grid-template-columns: 1fr;
            grid-template-rows: auto auto auto auto;
            grid-template-areas:
                    "nav"
                    "header"
                    "toc"
                    "content"
                    "footer";
        }

        .main-nav {
            border-bottom: 1px solid;
            justify-self: center;
            width: 100%;
            top: 0;
            position: sticky;
            background-color: #fff;
            border-color: #ddd;
        }

        .main-nav menu {
            text-align: center;
            grid-template-columns: repeat(2, 1fr);
        }

        .table-of-contents {
            align-self: start;
            justify-self: center;
            max-width: var(--content-width);
            width: 100%;
            border-bottom: solid 1px;
        }

        .table-of-contents ol {
            padding-left: 1em;
        }
    }

    @media (aspect-ratio >= 1/1), (min-aspect-ratio: 1/1)  {
        .wrapper {
            grid-template-columns: 1fr auto 1fr;
            grid-template-areas:
                    "nav content toc"
                    "nav content .."
                    "nav footer .."
        }

        .table-of-contents {
            align-self: start;
            justify-self: left;
            position: sticky;
            top: 0;
            border-left: solid 1px;
            padding-left: 1em;
            background-color: #fff;
            border-color: #ddd;
        }

        .table-of-contents ol {
            padding-left: 1em;
        }

        .tags {
            align-self: start;
        }

        .main-nav {
            justify-self: right;
            align-self: start;
            position: sticky;
            top: 0;
            border-right: solid 1px;
            padding-right: 1em;
            border-color: #ddd;
        }

        .main-nav menu {
            text-align: right;
            grid-template-rows: repeat(2, 1fr);
        }
    }
}

@media screen, print {
    .license {
        font-weight: lighter;
    }

    .main-nav menu {
        list-style-type: none;
        font-size: larger;
        padding: 0;
    }

    article.blogpost img {
        overflow: scroll;
        max-height: 15em;
        width: auto;
    }

    article.blogpost table {
        white-space: nowrap;
        border-bottom: solid 1px;
    }

    .blogpost th {
        border-bottom: solid 1px;
    }

    .blogpost pre code,
    .blogpost span,
    .blogpost table {
        white-space: pre-wrap;
        overflow-x: auto;
        min-width: 100%
    }

    nav {
        border-color: #ddd;
    }

}

@media only print {
    .wrapper > *:not(main) {
        display: none;
    }

    .license {
        display: initial;
    }

    article h1, h2, h3, h4, h5, h6 {
        page-break-after: avoid;
    }

    a {
        text-decoration: underline;
        color: #000;
    }

    article img,
    article table {
        page-break-inside: avoid;
    }
}

@media only speech {
}
