<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<meta name="description" content="{{ config.description }}" />
<meta name="author" content="{{ config.extra.author.name }}" />
<link rel="alternate" type="application/rss+xml" title={{ config.title }} href="/rss.xml" />
<link rel="stylesheet" href="/styles.css" />
<title>
    {% if page is defined %} {{ page.title }}
    {% elif section is defined %} {{ section.title }}
    {% elif taxonomy %} {{ taxonomy.name }}
    {% else %}
    {{ config.title }}
    {% endif %}
</title>
