{% extends "default.html" %}

{% block meta %}
<nav role="navigation" class="table-of-contents" title="Table of Contents">
    {% if page.toc %}
    <h3>Contents</h3>
    <ol>
        {% for h1 in page.toc %}
        <li>
            <a href="{{h1.permalink | safe}}">{{ h1.title }}</a>
            {% if h1.children %}
            <ul>
                {% for h2 in h1.children %}
                <li>
                    <a href="{{h2.permalink | safe}}">{{ h2.title }}</a>
                </li>
                {% endfor %}
            </ul>
            {% endif %}
        </li>
        {% endfor %}
    </ol>
    {% endif %}
</nav>
{% endblock meta %}

{% block content %}
{% if page.taxonomies.tags is defined %}
<h1>{{ page.title }}</h1>
<nav class="tags" title="Tag words">
    <ul>
        {% for tag in page.taxonomies.tags %}
        <li><a href="/tags/{{ tag }}">{{ tag }}</a></li>
        {% endfor %}
    </ul>
</nav>
{% endif %}
<article class="blogpost">
    {{ page.content | safe }}
</article>
{% endblock content %}
