<!DOCTYPE html>
<html>
  <head>
    {% include "head.liquid" %}
  </head>
  <body class="{{ page.data.route }}">
    <div class="wrapper">
    <header class="main-head">
    {% include "header.liquid" %}
    </header>
    <nav class="main-nav">
    {% include "menu.liquid"%}
    </nav>
    <article class="content">
      <h1>{{ page.title }}</h1>
      {{ page.content }}
    </article>
    <footer class="license">
      {% include "footer.liquid" %}
    </footer>
    </div>
  </body>
</html>
