<!DOCTYPE html>
<html>
  <head>
    {% include "head.liquid" %}
  </head>
  <body class="{{ page.data.route }}">
    <header>
      {% include "menu.liquid" %}
    </header>
    <main>
      {{ page.content }}
    </main>
    <footer>
      {% include "footer.liquid" %}
    </footer>
  </body>
</html>
