<!DOCTYPE html>
<html>
  <head>
    {% include "head.liquid" %}
    <title>{{ page.title }}</title>
  </head>
  <body>
    <header>
      {% include "header.liquid" %}
    </header>
    <main>
      {{ page.content }}
    </main>
    <footer>
      {% include "footer.liquid" %}
    </footer>
  </body>
</html>